@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import 'libs/before-effect-slider.min';
@import 'base/variables';
@import 'blocks/title';

*, *::after, *::before {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

// changing selecting color
::-moz-selection {
    color: #fff;
    background: $main-color;
}

::selection {
    color: #fff;
    background: $main-color;
}

.container {
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0;
}

ul li {
    list-style-type: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

fieldset {
    border: none;
}

// for Spinner
.center {
    margin: 0 auto;
}


@import 'blocks/button';
@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/promo';
@import 'blocks/cards';
@import 'blocks/how';
@import 'blocks/example';
@import 'blocks/catalog';
@import 'blocks/more';
@import 'blocks/modal';
@import 'blocks/program';
