@import 'base/variables';

.cards {
    padding: 82px 0 71px;

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__item {
        width: 570px;
        height: 374px;
        background-color: $secondary-color;
        padding: 41px 51px 55px 52px;

        &:last-child {
            margin-left: 80px;
        }
    }

    &__upper {
        display: flex;
        align-items: center;
    }

    &__title {
        margin-left: 62px;
        
        font-size: 36px;
        line-height: 36px;
        text-transform: uppercase;
    }

    .FIX {
        margin-left: 32px;
    }

    &__descr {
        margin-top: 39px;
        font-family: 'Arial';
        
        font-size: 16px;
        line-height: 24px;
    }

    &__btn {
        padding: 4px 13px;
        
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;
        color: #000000;
        margin-top: 37px;
        display: inline-block;

        &-arrow,
        &-arrow line,
        path {
            transition: all 0.5s ease-in;
        }

        &-arrow {
            margin-left: 25px;
        }

        &:hover {
            // background: $main-color;
            svg {
                // line {
                //     stroke: #fff;
                // }

                // path {
                //     fill: #fff;
                // }
                transform: scaleX(1.4);
            }
        }

        &:active {
            opacity: 0.3;
        }
    }
}