@import '../blocks/spinner';

.cat {
    padding-bottom: 76px;

    &__spinner {
        margin: 0 auto;
    }

    .products {
        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 21px;
            &_waiting {
                opacity: .8;
            }
        }

        &__item {
            margin-top: 144px;
            width: 245px;
            background-color: #f2f2f2;
            padding: 0 30px 40px 35px;
            display: flex;
            align-items: center;
            flex-direction: column;
            &-img {
                width: 172px;
                height: 196px;
                display: flex;
                align-items: flex-end;
                margin-top: -76px;
                transition: all .2s;
                &:hover {
                    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, .25));
                }
            }

            &-wrapper {
                margin-top: 46px;
            }

            &-title {
                width: 145px;
                font-weight: 400;
                font-size: 20px;
                line-height: 21px;
                text-align: center;
                text-transform: uppercase;
                color: #222222;
            }

            &-descr {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-top: 22px;

                div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    border-bottom: 1px solid #CDCDCD;
                    :not(:first-child) {
                        margin-top: 6px;
                    }

                    dd,
                    dt {
                        font-family: 'Arial';
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 16px;
                        color: #444444;
                        padding-bottom: 9px;
                        margin: 0;
                    }
                }
            }

            &-btn {
                margin-top: 33px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 53px;
                width: 168px;
                height: 40px;
                background: #68B738;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                text-transform: uppercase;
                color: #FFFFFF;
                border: none;
            }
        }

        &__more {
            margin-top: 144px;
            width: 245px;
            height: 430px;
            border: 2px solid #F2F2F2;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 51px 37px 40px;
            position: relative;
            &:hover .products__more-img {
                transform: rotate(180deg);
                svg {
                    transition: all 1s ease-in-out; 
                    line {
                        stroke: $main-color;
                    }
                }
            }
            &-img {
                margin: 0 auto;
                transition: all .7s ease-in-out;
            }

            &-title {
                margin-top: 50px;
                width: 135px;
                font-size: 20px;
                line-height: 22px;
                text-align: center;
                text-transform: uppercase;
                color: #111111;
                &_center {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    margin: 0;
                }
            }

            &-descr {
                margin-top: 23px;
                font-family: 'Arial';
                font-size: 16px;
                line-height: 18px;
                text-align: center;
                color: #444444;
            }

            &-btn {
                margin-top: 87px;
                width: 170px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                background: #F2F2F2;
                font-weight: 400;
                font-size: 16px;
                line-height: 0px;
                text-transform: uppercase;
                color: #444444;
            }
        }
    }
}