@import '../base/variables';

.footer {
    &__map {
        position: relative;
        height: 400px;
    }

    .map {
        &__modal {
            position: absolute;
            left: 110px;
            top: 50%;
            transform: translateY(-50%);
            width: 570px;
            background-color: #fff;
            padding: 62px 89px 52px 76px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-title {
                width: 162px;
                
                font-size: 20px;
                line-height: 21px;
                text-transform: uppercase;
                color: #111111;
            }

            &-address {
                width: 155px;
                font-family: 'Arial';
                
                font-size: 16px;
                line-height: 20px;
                color: #444444;
            }

            &-town {
                margin-top: 20px;
                font-family: 'Arial';
                
                font-size: 16px;
                line-height: 20px;
                color: #444444;
            }
        }
    }

    &__wrapper {
        padding: 58px 0;
        background-color: $secondary-color;

        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__logo {
        transition: all .4s;
        a {
            font-size: 24px;
            text-transform: uppercase;
            color: #111111;

            span {
                font-weight: 700;
            }
        }
        &:hover {
            opacity: 0.8;
        }
        &:active {
            opacity: 0.6;
        }
    }

    &__socials {
        width: 130px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-item {
            path {
                transition: all .3s;
            }

            &:not(:last-child):hover {
                path {
                    fill: $main-color;
                }
            }

            &:last-child:hover {
                path {
                    stroke: $main-color;
                }
            }
            &:active {
                opacity: 0.3;
            }
        }
    }
    &__base {
        transition: all .3 ease;
        &:active {
            opacity: 0.3;
        }
    }
}