@import '../base/variables';
.how {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .how__item {
        width: 245px;
        height: 280px;
        position: relative;
        &-inner {
            position: absolute;
            z-index: 100;
        }
        &:after {
            content: "1";
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            text-align: right;
            font-weight: 400;
            font-size: 280px;
            line-height: 208px;
            color: $secondary-color;
        }        
    }
    &__img {
        width: 80px;
    }
    &__descr {
        margin-top: 31px;
        font-family: 'Arial';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #444444;
    }
    #two {
        &:after {
            content: "2";
        }
    }
    #three {
        &:after {
            content: "3";
        }
    }
    #four {
        &:after {
            content: "4";
        }
    }
}