@import '../base/variables';

.more {
    padding: 0 0 86px;

    &__wrapper {
        padding-top: calc(82px + 36px);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__products {
        &-item {
            border-top: 1px solid #CDCDCD;
            padding: 15px 0 17px;
            width: 894px;
            display: flex;

            &:last-child {
                border-bottom: 1px solid #CDCDCD;
            }
        }

        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        &-title {
            
            font-size: 20px;
            line-height: 20px;
            text-transform: uppercase;
            color: #222222;
        }

        &-count {
            font-family: 'Arial';
            
            font-size: 16px;
            line-height: 20px;
            color: #444444;
        }

        &-price {
            font-family: 'Arial';
            
            font-size: 16px;
            line-height: 20px;
            color: #444444;
        }

        &-btn {
            margin-left: 40px;
        }
    }

    &__promo {
        width: 245px;
        height: 100%;
    }
}