@import '../base/variables';
.promo {
    background: url('../img/promo/canBg.png') no-repeat right top;
    padding-top: 53px;
    height: 100vh;
    
    &__wrapper {
        margin-top: 32px;
        margin-left: 80px;
        width: 920px;
        display: flex;
        align-items: initial;
        justify-content: space-between;
        position: relative;
    }
    &__block {
        max-width: 415px;
        margin-top: 85px;
    }
    &__subtitle {
        margin-top:40px;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
    }
    &__btn {
        margin-top: 52px;
    }
}