@import '../base/variables';

.title {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;

    &_min {
        font-size: 36px;
        line-height: 36px;
    }

    &_decor {
        position: absolute;
        top: -0;
        display: inline-block;
        background-color: #fff;

        &::before,
        &::after {
            content: "";
            position: absolute;

        }

        &::before {
            left: -40px;
            right: -40px;
            height: 100%;
            background-color: #fff;
            z-index: -2;
        }

        &::after {
            top: .6em;
            left: -1000px;
            width: 1000vw;
            height: 3px;
            background-color: $main-color;
            z-index: -5;
        }
    }
}